<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="main">
        <div class="area">
            <div class="center-text padding-l-1 padding-r-1 padding-b-3">
                <label id="typer"></label>
            </div>
            <div class="form padding-b-1">
                <div class="padding-lrtb-1 display-block">
                    <div class="padding-b-0-1">Username</div>
                    <input type="text" class="padding-l-1 padding-r-1" id="user">
                </div>
                <div class="padding-lrtb-1">
                    <div class="padding-b-0-1">Password</div>
                    <input type="password" class="padding-l-1 padding-r-1" id="password">
                </div>
            </div>
            <div class="center-text full-width padding-lrtb-1">
                <button id="loginClick" class="half-width padding-t-0-5 padding-b-0-5 padding-l-1 padding-r-1">GO</button>
                <div class="margin-t-2"><a href="/register">Register</a></div>
            </div>
        </div>
    </div>
    <script src="loginpage.js" type="text/javascript"></script>
</body>
</html>