
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}
body
{
    background-color: pink;
}
#container {
    width: 100vw;
    height: 100vh;
    
}
#top-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(129, 129, 235);
    padding: 10px;
}
#navlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#items {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
#greet {
    font-size: 30px;
}
#logout{
    width: 30px;
    height: 100%;
    &:hover{
        cursor: pointer;
    }
}
.horizontal-scroll {
    background-color: rgba(0, 0, 0, 0.048);
    display: grid;
    grid-auto-flow: column;
    margin-right: 5%;
    margin-left: 1%;
    grid-auto-columns: 33%;
    /* overflow-x: auto; */
    /* overscroll-behavior-inline: contain; */
    &:-webkit-scrollbar {
        display: none;
    }
}

.job-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px;
    display: none;
    &:hover{
        background-color: rgba(152, 129, 206, 0.548);
        cursor: pointer;
    }
}
a {
    text-decoration: none;
    color: black;
}
